{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - TSNetApp{% else %}TSNetApp{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse ">
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
				{% if current_user.role == 'admin' %}
                    <li><a href="{{ url_for('index') }}">HostFinder</a></li>
                    <li><a href="{{ url_for('index2') }}">Backup</a></li>
				{% else %}
				    <li><a href="{{ url_for('index') }}">HostFinder</a></li>
				{% endif %}

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login   </a></li>
					
					{% else %}
						{% if current_user.role == 'admin' %}
						<li><a href="{{ url_for('admin') }}">Admin   </a></li>
						<li><a href="{{ url_for('logout') }}">Logout   </a></li>
						{% else %}
						<li><a href="{{ url_for('logout') }}">Logout   </a></li>
						{% endif %}
					{% endif %}
                </ul>
            </div>
        
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
